/* Tab modifications */

#nagrestconf
{
    font-size: 1.4em;
    color: black;
    float: left;
    z-index: 10000;
    position: relative;
    left: 10px;
    top: 5px;
    display: block;
    font-family: "Helvetica", "Verdana", "sans-serif";
    font-weight: bold;
}

#pagetabs.ui-corner-all
{
    /*background-color: white;
    background-image: none;
    */
    margin: 0px 0px 8px 0px;
    padding: 0px 0px 0px 0px;
    border: 0px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
#pagetabs .ui-tabs-nav li a
{
    padding: 0.5em 0.5em;
    line-height: 1.2em;
}
#pagetabs .ui-tabs-nav,
#pagetabs .ui-corner-br
{
    /*background-color: white;
    background-image: none;
    */
    padding: 30px 1.0em 0px;
    /*padding: 30px 1.2em 0px;*/
    margin: 0px 0px 0px 0px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 1px solid #666666;
}

#pagetabs .ui-tabs .ui-tabs-anchor,
#pagetabs .ui-tabs-nav .ui-tabs-anchor
{
    cursor: default;
    /* font-size: 1em; */
}
#pagetabs li.ui-state-default
{
    border-top: 1px solid #666666;
    border-left: 1px solid #666666;
    border-right: 1px solid #666666;
    background: #cccccc;
}
#pagetabs li.ui-tabs-active
{
    border-top: 1px solid #666666;
    border-left: 1px solid #666666;
    border-right: 1px solid #666666;
    background: #ffffff;
}

/* Tab modifications */

#editservicetabs .ui-tabs-nav,
#edithosttabs .ui-tabs-nav,
#editservicetabs .ui-corner-br,
#edithosttabs .ui-corner-br
{
    background-color: white;
    background-image: none;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.ui-corner-all#edithosttabs,
.ui-corner-all#editservicetabs
{
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
}
/*
 * ICONS
 */
.icon-delete {
    background-image: url("images/delete.png");
}
.icon-add {
    background-image: url("images/add.png");
}
.icon-edit {
    background-image: url("images/edit.png");
}
.icon-disable {
    background-image: url("images/disable.png");
}
.icon-enable {
    background-image: url("images/enable.png");
}
.icon-clone {
    background-image: url("images/clone.png");
}
.icon-test {
    background-image: url("images/test.png");
}
.icon-testoff {
    background-image: url("images/testoff.png");
}
.icon:hover {
    background-position: 50% 0%;
    background-color: #F6CFA7;
    background-repeat: no-repeat;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-top: 2px;
}
.icon {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-top: 2px;
}
/*
 * DIALOG FORM CONTENT
 */
TEXTAREA#applyconfigtextarea {
    /* background-image: url("images/working.gif"); */
    background-image: none;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 80px 80px;
    background-color: white;
    width: 100%;
    height: 200px;
}

div.flash.error {
    /* background: url("images/true.png") no-repeat scroll 8px 5px #DFFFDF; */
    background-image: url("images/false.png");
    background-color: #E6D8D8;
    border-color: #C4A3A3;
    border-style: solid;
    border-width: 2px;
    color: #5F0000;
}
div.flash.notice {
    /* background: url("images/true.png") no-repeat scroll 8px 5px #DFFFDF; */
    background-image: url("images/true.png");
    background-color: #C5E8CE;
    border-color: #9FCF9F;
    border-style: solid;
    border-width: 2px;
    color: #005F00;
}
.flash {
    background-position: 0% 50%;
    background-repeat: no-repeat;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-top: 2px;
    margin-top: 8px;
}

form fieldset {
    border-width: 0px;
    border-color: gray;
    /* padding: 6px 20px 0px; */
    padding: 6px 0px 0px;
}
form fieldset p {
    display:block;
    margin-top: 0;
    padding-top: 6px;
}
form fieldset select {
    display:block;
    margin-top: 0;
    padding-top: 0;
}
form fieldset input[type=radio] {
    display:inline;
    margin-top: 8px;
    padding-top: 0;
    margin-right: 3px;
    width: auto;
    vertical-align: text-bottom;
}
form fieldset input[type=checkbox] {
    display:block;
    margin-top: 8px;
    padding-top: 0;
    width: auto;
}
form fieldset input {
    display:block;
    margin-top: 0;
    padding-top: 0;
    width: 230px;
    height: 1.2em;
}
form fieldset label {
    float:left;
    display:block;
    margin-right: 5px;
    margin-top: 7px;
    width: 140px;
    text-align: right;
    padding-top: 0;
}
#delhostform label {
    font-size: 12px;
}
#delhostgroupform h2,
#delsvcgroupform h2,
#delhostform h2,
#delsvcsetform h2,
#delsvcsetsvcform h2,
#deltimeperiodform h2,
#delcommandform h2,
#delhosttemplateform h2,
#delsvctemplateform h2,
#delsvcform h2,
#delcontactgroupform h2,
#delcontactform h2,
#disablehostform h2,
#testinghostform h2,
#enablehostform h2,
#clonesvcform h2 {
    font-weight: normal;
    font-size: 12px;
}
#delsvcsetform input {
    margin-right: 5px;
    margin-top: 8px;
    margin-left: 20px;
    padding-top: 0px;
}
#delhostform input {
    margin-right: 5px;
    margin-top: 8px;
    margin-left: 20px;
    padding-top: 0px;
}
.field {
    overflow:auto;
    margin:5px 0px;
    overflow: hidden;
}
/*
 * BODY ETC
 */
body {
    background-color: #FFFFFF;
    background-repeat: repeat-x;
    color: #000000;
    /* font-family: verdana,sans-serif; */
    font-family: "Arial", "Helvetica", "Verdana", "sans-serif";
    font-size: 10px;
    margin: 0;
    top: 0;
    min-width: 800px;
}

hr {
    color: #aaaaaa; 
    background-color: #aaaaaa;
    height:1px;
    border-width:0;
    margin-top: 12px;
    margin-bottom: 10px;
}

input, select {
    font-size: 12px;
    margin: 4px 0 0 0;
}

p {
    font-size: 12px;
    margin: 4px 0 0 0;
}

.black {
    color: black;
}

a:link, a:visited {
    background-color: transparent;
    color: #2222a0;
    text-decoration: none;
}

#logo {
    /* height: 40px; */
    padding-left: 14px;
    padding-top: 7px;
    vertical-align: middle;
}

h1.titletext {
    font-size: 14px;
    /* float: right; */
    /* position: relative; */
    /* color: #C26100; */
    position: absolute;
    margin-left: 4px;
}

h2.pghdr {
    font-size: 14px;
    float: right;
    position: relative;
    color: #C26100;
    top: 10px;
    right: 20px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#applyconf {
    top: 2px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
   /*  The following is the key to positioning on the bottom of parent.
     Parent must have 'position: relative', and leaving top and left
     values off for the parent causes parent to be positioned in its
     normal place. */
    right: 20px;
    position: absolute;
}

container {
    clear: both;
    float: left;
    overflow: hidden;
    position: relative; /* This fixes the IE7 overflow hidden bug */
    width: 100%; /* width of whole page */
}

#pageheader {
    /* background: url("css/redmond/images/ui-bg_gloss-wave_55_5c9ccc_500x100.png") repeat-x scroll 50% 50% rgb(92, 156, 204); */
    /* background-color: #A3D1FF; */
    /*
    border-bottom-width: 1px;
    border-bottom: 1px solid black;
    height: 60px;
    margin-bottom: 10px;
    position: relative;
    */
}

.btn:hover {
    background-color: #F6CFA7;
}
   
.btn {
    background-color: #DBEDFF;
    margin-left: 4px;
    padding: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #AAA;
    color: #222;
    cursor: pointer;
}
   
h1 {
    margin-top: 0px;
    padding-left: 4px;
    padding-bottom: 2px;
    padding-top: 8px;
    background-color: transparent;
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    display: inline;
}

.ghost {
    font-size: 9px;
    color: #777777; 
}

h2 {
    font-size: 12px;
}

h2, h3, h4 {
    margin-top: 14px;
    margin-left: 20px;
    margin-bottom: 0px;
    padding-bottom: 2px;
    padding-top: 8px;
    background-color: transparent;
    color: #000000;
    font-weight: bold;
}

p.pageheader {
    margin-left: 0px;
    margin-bottom: 0;
    margin-top: 24px;
    background-color: transparent;
    color: #000000;
    font-weight: bold;
    font-size: smaller;
    text-align: center;
}

.navcenter {
    font-size: smaller;
    margin-left: 0px;
    margin-bottom: 0;
    margin-top: 1px;
    text-align: center;
}

.center {
    text-align: center;
}

.kpi {
    color: #000000;
    font-size: smaller;
    font-weight: bold;
    margin-top: 24px;
}

#graphs {
   background-color: transparent;
   color: #000000;
   font-size: smaller;
   font-weight: normal;
   margin-bottom: 0;
   margin-left: 12px;
   margin-top: 0;
   padding-top: 6px;
   position: relative;
   width: 100%;
/*
   width: 65%;
   left: 330px;
   float: left;
*/
}

table.results {
    table-layout: fixed;
}

img {
    padding-top: 14px;
    border-color: white;
}

.table_data {
    border-color: white;
    border-style: solid;
    border-width: 0px 0px 0 0;
    /* font-family: verdana,sans-serif; */
    font-family: "Arial", "Helvetica", "Verdana", "sans-serif";
    font-size: 10px;
    margin: 0;
    padding: 6px;
    text-align: right;
}

.green_percentbox {
    background-color: #00CC00;
    border-color: black;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    font-weight: bold;
    margin: 1px;
    padding: 2px;
}

.yellow_percentbox {
    background-color: #CCCC00;
    border-color: black;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    font-weight: bold;
    margin: 1px;
    padding: 2px;
}

.col1 table {
    border-collapse: collapse;
    font-size: 12px;
    width: 98%;
    margin-bottom: 8px;
}
.col1 table thead {
    font-size: 12px;
    font-weight: bold;
}
.col1 table thead tr {
    border-bottom: solid 1px black;
}
.col1 table thead tr td {
    padding-bottom: 2px;
    padding-left: 8px;
}
.hidden {
    display: none;
}
.link {
    cursor: pointer; 
}
.linkover {
    color: blue;
    cursor: pointer; 
}
.col1 table tbody .shaded {
    background-color: #E6ECFF;
}
.col1 table tbody .innershaded {
    background-color: #EEEEEE;
}
.col1 table tbody tr {
}
.col1 table tbody tr td {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
}

.colmask {
    clear: both;
    float: left;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.leftmenu {
    background: none repeat scroll 0 0 #FFFFFF;
}
.leftmenu .colright {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    left: 330px;
    position: relative;
    width: 200%;
}
.leftmenu .col1wrap {
    float: right;
    padding-bottom: 1em;
    position: relative;
    right: 320px;
    width: 50%;
}
.leftmenu .col1 {
    margin: 0 30px 0 160px;
    overflow: hidden;
    position: relative;
    right: 100%;
}
.leftmenu .col2 {
    float: left;
    position: relative;
    right: 322px;
    width: 150px;
}
